# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Sanal ortam
venv/
.venv/
env/
.env

# Veritabanı
instance/
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Log
*.log

# OS
.DS_Store
Thumbs.db
